In [1]:
import pandas as pd

In [2]:
data = {
    "column1": ["Allen", "Kevin", "Mihai"],
    "column2": ["Varghese", "O'Brien", "Todor"],
    "column3": ["Male", "Male", "Male"],
    "some_random_numbers": [4200, 2750, 3820]
}
df = pd.DataFrame(data)

In [5]:
df.loc[1]

column1                  Kevin
column2                O'Brien
column3                   Male
some_random_numbers       2750
Name: 1, dtype: object

In [10]:
df['column1']

0    Allen
1    Kevin
2    Mihai
Name: column1, dtype: object

In [8]:
df['column1'].values

array(['Allen', 'Kevin', 'Mihai'], dtype=object)

In [11]:
df['column1'].tolist()

['Allen', 'Kevin', 'Mihai']

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
column1                3 non-null object
column2                3 non-null object
column3                3 non-null object
some_random_numbers    3 non-null int64
dtypes: int64(1), object(3)
memory usage: 176.0+ bytes

In [16]:
df.columns

Index(['column1', 'column2', 'column3', 'some_random_numbers'], dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
df.head(2)

  column1   column2 column3  some_random_numbers
0   Allen  Varghese    Male                 4200
1   Kevin   O'Brien    Male                 2750

In [19]:
df.describe()

       some_random_numbers
count             3.000000
mean           3590.000000
std             751.864349
min            2750.000000
25%            3285.000000
50%            3820.000000
75%            4010.000000
max            4200.000000

In [20]:
df.describe().loc["25%"]

some_random_numbers    3285.0
Name: 25%, dtype: float64

In [24]:
dfc = df.copy()
del dfc["some_random_numbers"]
dfc.columns
dfc.describe()

       column1   column2 column3
count        3         3       3
unique       3         3       1
top      Allen  Varghese    Male
freq         1         1       3

In [25]:
len(df)

3

In [26]:
len(df.columns)

4

In [27]:
help(df.loc)

Help on _LocIndexer in module pandas.core.indexing object:

class _LocIndexer(_LocationIndexer)
 |  Purely label-location based indexer for selection by label.
 |
 |  ``.loc[]`` is primarily label based, but may also be used with a
 |  boolean array.
 |
 |  Allowed inputs are:
 |
 |  - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
 |    interpreted as a *label* of the index, and **never** as an
 |    integer position along the index).
 |  - A list or array of labels, e.g. ``['a', 'b', 'c']``.
 |  - A slice object with labels, e.g. ``'a':'f'`` (note that contrary
 |    to usual python slices, **both** the start and the stop are included!).
 |  - A boolean array.
 |  - A ``callable`` function with one argument (the calling Series, DataFrame
 |    or Panel) and that returns valid output for indexing (one of the above)
 |
 |  ``.loc`` will raise a ``KeyError`` when the items are not found.
 |
 |  See more at :ref:`Selection by Label <indexing.label>`
 |
 |  Method resolution order:
 |      _LocIndexer
 |      _LocationIndexer
 |      _NDFrameIndexer
 |      builtins.object
 |
 |  Methods inherited from _LocationIndexer:
 |
 |  __getitem__(self, key)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _NDFrameIndexer:
 |
 |  __call__(self, axis=None)
 |      Call self as a function.
 |
 |  __init__(self, obj, name)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |
 |  __setitem__(self, key, value)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _NDFrameIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _NDFrameIndexer:
 |
 |  axis = None

In [30]:
df["Location"] = ["Dublin", "Limerick", "Dublin"]

In [31]:
df

  column1   column2 column3  some_random_numbers  Location
0   Allen  Varghese    Male                 4200    Dublin
1   Kevin   O'Brien    Male                 2750  Limerick
2   Mihai     Todor    Male                 3820    Dublin

In [33]:
name_df = df[['column1','column2']]
name_df

  column1   column2
0   Allen  Varghese
1   Kevin   O'Brien
2   Mihai     Todor

In [35]:
name_df = name_df.rename(columns = {'column1' : 'First name', 'column2' : 'Last name'})
name_df

  First name Last name
0      Allen  Varghese
1      Kevin   O'Brien
2      Mihai     Todor

In [38]:
name_df['FN_1'] = name_df['First name'].map(lambda x: x[0])
name_df

  First name Last name FN_1
0      Allen  Varghese    A
1      Kevin   O'Brien    K
2      Mihai     Todor    M

In [41]:
def first_char(x):
    return x[0]
name_df['LN_1'] = name_df['Last name'].map(first_char) # this works the same as the lambda above
name_df

  First name Last name FN_1 LN_1
0      Allen  Varghese    A    V
1      Kevin   O'Brien    K    O
2      Mihai     Todor    M    T

In [43]:
name_df['LN_3'] = name_df['Last name'].map(lambda x: x[-3:])
name_df

  First name Last name FN_1 LN_1 LN_3
0      Allen  Varghese    A    V  ese
1      Kevin   O'Brien    K    O  ien
2      Mihai     Todor    M    T  dor

## Loading the data

In [47]:
weather = pd.read_csv('weather_2012.csv')
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
Date/Time             8784 non-null object
Temp (C)              8784 non-null float64
Dew Point Temp (C)    8784 non-null float64
Rel Hum (%)           8784 non-null int64
Wind Spd (km/h)       8784 non-null int64
Visibility (km)       8784 non-null float64
Stn Press (kPa)       8784 non-null float64
Weather               8784 non-null object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [53]:
weather.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [56]:
weather['Weather'].unique().tolist()

['Fog',
 'Freezing Drizzle,Fog',
 'Mostly Cloudy',
 'Cloudy',
 'Rain',
 'Rain Showers',
 'Mainly Clear',
 'Snow Showers',
 'Snow',
 'Clear',
 'Freezing Rain,Fog',
 'Freezing Rain',
 'Freezing Drizzle',
 'Rain,Snow',
 'Moderate Snow',
 'Freezing Drizzle,Snow',
 'Freezing Rain,Snow Grains',
 'Snow,Blowing Snow',
 'Freezing Fog',
 'Haze',
 'Rain,Fog',
 'Drizzle,Fog',
 'Drizzle',
 'Freezing Drizzle,Haze',
 'Freezing Rain,Haze',
 'Snow,Haze',
 'Snow,Fog',
 'Snow,Ice Pellets',
 'Rain,Haze',
 'Thunderstorms,Rain',
 'Thunderstorms,Rain Showers',
 'Thunderstorms,Heavy Rain Showers',
 'Thunderstorms,Rain Showers,Fog',
 'Thunderstorms',
 'Thunderstorms,Rain,Fog',
 'Thunderstorms,Moderate Rain Showers,Fog',
 'Rain Showers,Fog',
 'Rain Showers,Snow Showers',
 'Snow Pellets',
 'Rain,Snow,Fog',
 'Moderate Rain,Fog',
 'Freezing Rain,Ice Pellets,Fog',
 'Drizzle,Ice Pellets,Fog',
 'Drizzle,Snow',
 'Rain,Ice Pellets',
 'Drizzle,Snow,Fog',
 'Rain,Snow Grains',
 'Rain,Snow,Ice Pellets',
 'Snow Showers,Fog',
 'Moderate Snow,Blowing Snow']

## Filtering the data

In [61]:
# Rows where Weather contains the word Rain
weather[weather['Weather'].str.contains('Rain')]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
153,2012-01-07 09:00:00,-6.1,-8.7,82,7,9.7,100.15,"Freezing Rain,Fog"
154,2012-01-07 10:00:00,-5.7,-8.0,84,7,8.0,100.13,Freezing Rain
157,2012-01-07 13:00:00,-4.8,-7.2,83,15,9.7,100.07,Freezing Rain
221,2012-01-10 05:00:00,0.8,-1.2,86,30,9.7,100.02,"Rain,Snow"
296,2012-01-13 08:00:00,-5.1,-7.5,83,26,8.0,98.69,Freezing Rain
297,2012-01-13 09:00:00,-5.0,-7.3,84,32,4.8,98.56,"Freezing Rain,Snow Grains"
299,2012-01-13 11:00:00,-4.8,-7.3,83,28,9.7,98.22,Freezing Rain
404,2012-01-17 20:00:00,-3.6,-5.7,85,24,3.2,98.98,Freezing Rain
405,2012-01-17 21:00:00,-2.9,-4.9,86,26,2.8,98.71,Freezing Rain
406,2012-01-17 22:00:00,-1.6,-3.2,89,17,3.2,98.47,Freezing Rain
407,2012-01-17 23:00:00,-0.6,-2.1,90,7,2.8,98.32,"Freezing Rain,Fog"
542,2012-01-23 14:00:00,2.7,-1.1,76,26,48.3,101.01,Rain
543,2012-01-23 15:00:00,2.7,-0.9,77,30,24.1,100.86,Rain
545,2012-01-23 17:00:00,3.1,-0.4,78,28,16.1,100.61,Rain
546,2012-01-23 18:00:00,3.0,1.2,88,19,4.0,100.54,"Rain,Fog"
547,2012-01-23 19:00:00,3.2,1.4,88,22,8.0,100.43,"Rain,Fog"
552,2012-01-24 00:00:00,3.5,2.3,92,17,12.9,100.04,Rain
554,2012-01-24 02:00:00,3.1,2.1,93,9,9.7,100.09,Rain
555,2012-01-24 03:00:00,5.0,3.6,91,19,9.7,100.19,Rain
566,2012-01-24 14:00:00,2.4,-2.4,71,35,24.1,100.75,Rain
631,2012-01-27 07:00:00,-0.8,-2.9,86,22,16.1,99.61,Freezing Rain
632,2012-01-27 08:00:00,0.3,-1.7,86,20,12.9,99.47,Freezing Rain
633,2012-01-27 09:00:00,0.7,-1.4,86,17,12.9,99.34,Rain
634,2012-01-27 10:00:00,0.6,-1.2,88,17,8.0,99.18,"Rain,Fog"
671,2012-01-28 23:00:00,1.2,-1.7,81,52,16.1,99.87,"Rain,Snow"
747,2012-02-01 03:00:00,-6.5,-9.0,82,15,4.8,100.56,Freezing Rain
...,...,...,...,...,...,...,...,...
8273,2012-12-10 17:00:00,0.1,-0.3,97,4,4.8,99.42,"Rain,Fog"
8363,2012-12-14 11:00:00,2.6,-2.0,72,22,24.1,101.35,Rain Showers
8425,2012-12-17 01:00:00,-2.3,-3.3,93,26,9.7,101.01,"Freezing Rain,Fog"
8426,2012-12-17 02:00:00,-2.2,-3.3,92,24,11.3,101.00,Freezing Rain
8427,2012-12-17 03:00:00,-2.6,-3.7,92,28,8.0,100.95,"Freezing Rain,Ice Pellets,Fog"
8451,2012-12-18 03:00:00,0.4,-0.9,91,24,16.1,100.24,Rain
8452,2012-12-18 04:00:00,0.5,-0.8,91,24,11.3,100.15,Rain
8453,2012-12-18 05:00:00,0.6,-0.6,92,24,9.7,100.12,"Rain,Ice Pellets"
8464,2012-12-18 16:00:00,1.1,0.1,93,26,8.0,99.48,"Rain,Snow"
8465,2012-12-18 17:00:00,1.2,0.3,94,22,8.0,99.48,"Rain,Snow"
8466,2012-12-18 18:00:00,1.4,0.5,94,22,8.0,99.49,"Rain,Snow"
8467,2012-12-18 19:00:00,1.4,0.7,95,15,8.0,99.53,Rain
8520,2012-12-21 00:00:00,1.9,-2.1,75,26,25.0,100.60,"Rain,Snow Grains"
8521,2012-12-21 01:00:00,1.1,-0.7,88,17,6.4,100.47,"Rain,Snow,Ice Pellets"
8522,2012-12-21 02:00:00,1.0,-0.3,91,20,6.4,100.35,"Rain,Snow"
8523,2012-12-21 03:00:00,0.9,0.0,94,28,4.8,100.12,"Rain,Snow,Ice Pellets"
8524,2012-12-21 04:00:00,1.1,-0.1,92,22,6.4,99.98,"Rain,Snow,Ice Pellets"
8525,2012-12-21 05:00:00,1.3,0.1,92,26,6.4,99.85,"Rain,Snow,Ice Pellets"
8526,2012-12-21 06:00:00,1.0,0.0,93,22,4.0,99.76,"Rain,Snow"
8527,2012-12-21 07:00:00,0.9,-0.1,93,32,6.4,99.64,"Rain,Snow"
8528,2012-12-21 08:00:00,0.8,-0.2,93,32,2.4,99.50,"Rain,Snow"
8529,2012-12-21 09:00:00,0.8,-0.2,93,33,2.4,99.38,"Rain,Snow"
8534,2012-12-21 14:00:00,2.1,0.4,88,41,19.3,98.16,Rain
8535,2012-12-21 15:00:00,1.8,0.2,89,33,12.9,98.10,Rain
8536,2012-12-21 16:00:00,1.4,0.2,92,43,9.7,97.93,Rain
8537,2012-12-21 17:00:00,1.3,0.2,92,46,12.9,97.76,Rain
8538,2012-12-21 18:00:00,1.4,0.3,92,46,25.0,97.56,Rain
8539,2012-12-21 19:00:00,2.3,1.1,92,37,11.3,97.52,Rain
8540,2012-12-21 20:00:00,2.4,1.7,95,15,9.7,97.58,Rain
8541,2012-12-21 21:00:00,1.3,0.4,94,22,9.7,97.64,Rain

In [63]:
# Rows where Weather is exactly 'Rain'
weather[weather['Weather']=='Rain']

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
542,2012-01-23 14:00:00,2.7,-1.1,76,26,48.3,101.01,Rain
543,2012-01-23 15:00:00,2.7,-0.9,77,30,24.1,100.86,Rain
545,2012-01-23 17:00:00,3.1,-0.4,78,28,16.1,100.61,Rain
552,2012-01-24 00:00:00,3.5,2.3,92,17,12.9,100.04,Rain
554,2012-01-24 02:00:00,3.1,2.1,93,9,9.7,100.09,Rain
555,2012-01-24 03:00:00,5.0,3.6,91,19,9.7,100.19,Rain
566,2012-01-24 14:00:00,2.4,-2.4,71,35,24.1,100.75,Rain
633,2012-01-27 09:00:00,0.7,-1.4,86,17,12.9,99.34,Rain
1096,2012-02-15 16:00:00,2.2,0.2,87,6,12.9,101.75,Rain
1097,2012-02-15 17:00:00,2.1,0.3,88,6,11.3,101.80,Rain
1098,2012-02-15 18:00:00,1.5,0.2,91,7,9.7,101.85,Rain
1099,2012-02-15 19:00:00,1.5,0.2,91,7,9.7,101.89,Rain
1100,2012-02-15 20:00:00,1.5,0.2,91,7,6.4,101.91,Rain
1122,2012-02-16 18:00:00,3.0,-2.1,69,19,24.1,101.13,Rain
1123,2012-02-16 19:00:00,2.5,-1.4,75,17,25.0,101.02,Rain
1124,2012-02-16 20:00:00,1.7,-0.7,84,17,16.1,100.94,Rain
1125,2012-02-16 21:00:00,1.5,-0.5,87,15,25.0,100.88,Rain
1126,2012-02-16 22:00:00,1.5,-0.6,86,17,12.9,100.80,Rain
1127,2012-02-16 23:00:00,1.3,-0.3,89,19,16.1,100.71,Rain
1128,2012-02-17 00:00:00,1.3,-0.3,89,19,12.9,100.64,Rain
1129,2012-02-17 01:00:00,1.3,-0.2,90,19,12.9,100.57,Rain
1130,2012-02-17 02:00:00,1.3,0.1,92,17,9.7,100.50,Rain
1131,2012-02-17 03:00:00,1.4,0.2,92,19,12.9,100.45,Rain
1252,2012-02-22 04:00:00,1.2,-1.0,85,15,12.9,99.68,Rain
1253,2012-02-22 05:00:00,1.4,-0.6,87,15,9.7,99.64,Rain
1254,2012-02-22 06:00:00,1.5,-0.3,88,13,12.9,99.59,Rain
1256,2012-02-22 08:00:00,2.6,0.9,89,17,19.3,99.57,Rain
1318,2012-02-24 22:00:00,0.6,-0.8,90,19,16.1,98.55,Rain
...,...,...,...,...,...,...,...,...
7566,2012-11-11 06:00:00,0.5,-2.3,81,17,25.0,102.26,Rain
7608,2012-11-13 00:00:00,14.8,10.0,73,48,25.0,100.94,Rain
7609,2012-11-13 01:00:00,9.1,7.4,89,37,12.9,101.25,Rain
7610,2012-11-13 02:00:00,8.0,6.2,88,35,25.0,101.36,Rain
7611,2012-11-13 03:00:00,7.9,5.6,85,41,25.0,101.45,Rain
7612,2012-11-13 04:00:00,6.2,4.1,86,28,25.0,101.53,Rain
7613,2012-11-13 05:00:00,5.6,3.4,86,30,25.0,101.60,Rain
7863,2012-11-23 15:00:00,10.4,2.5,58,17,16.1,99.79,Rain
7864,2012-11-23 16:00:00,9.2,6.4,83,30,12.9,99.83,Rain
7865,2012-11-23 17:00:00,8.8,6.8,87,22,16.1,99.78,Rain
8077,2012-12-02 13:00:00,6.2,4.3,88,19,12.9,100.89,Rain
8132,2012-12-04 20:00:00,9.9,9.1,95,15,12.9,100.53,Rain
8133,2012-12-04 21:00:00,10.4,9.7,95,9,6.4,100.56,Rain
8134,2012-12-04 22:00:00,9.8,9.3,97,6,12.9,100.57,Rain
8135,2012-12-04 23:00:00,9.7,9.1,96,19,9.7,100.63,Rain
8136,2012-12-05 00:00:00,9.5,8.0,90,19,12.9,100.56,Rain
8137,2012-12-05 01:00:00,9.0,7.3,89,30,16.1,100.45,Rain
8138,2012-12-05 02:00:00,8.7,7.1,90,24,16.1,100.50,Rain
8139,2012-12-05 03:00:00,7.8,6.7,93,24,9.7,100.53,Rain
8451,2012-12-18 03:00:00,0.4,-0.9,91,24,16.1,100.24,Rain
8452,2012-12-18 04:00:00,0.5,-0.8,91,24,11.3,100.15,Rain
8467,2012-12-18 19:00:00,1.4,0.7,95,15,8.0,99.53,Rain
8534,2012-12-21 14:00:00,2.1,0.4,88,41,19.3,98.16,Rain
8535,2012-12-21 15:00:00,1.8,0.2,89,33,12.9,98.10,Rain
8536,2012-12-21 16:00:00,1.4,0.2,92,43,9.7,97.93,Rain
8537,2012-12-21 17:00:00,1.3,0.2,92,46,12.9,97.76,Rain
8538,2012-12-21 18:00:00,1.4,0.3,92,46,25.0,97.56,Rain
8539,2012-12-21 19:00:00,2.3,1.1,92,37,11.3,97.52,Rain
8540,2012-12-21 20:00:00,2.4,1.7,95,15,9.7,97.58,Rain
8541,2012-12-21 21:00:00,1.3,0.4,94,22,9.7,97.64,Rain

In [65]:
# Rows that DO NOT contain the word Rain
weather['Weather'][~weather['Weather'].str.contains('Rain')]

0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
5                        Fog
6                        Fog
7                        Fog
8                        Fog
9                        Fog
10                       Fog
11                       Fog
12                       Fog
13                       Fog
14                       Fog
15                       Fog
16             Mostly Cloudy
17                    Cloudy
20                    Cloudy
21                    Cloudy
23                    Cloudy
25                    Cloudy
26             Mostly Cloudy
27             Mostly Cloudy
28             Mostly Cloudy
29             Mostly Cloudy
30             Mostly Cloudy
31             Mostly Cloudy
32             Mostly Cloudy
33             Mostly Cloudy
                ...
8754            Mainly Clear
8755            Mainly Clear
8756                   Clear
8757            Mainly Clear
8758            Mainly Clear
8759           Mostly Cloudy
8760                  Cloudy
8761                  Cloudy
8762                  Cloudy
8763           Mostly Cloudy
8764                  Cloudy
8765                  Cloudy
8766                  Cloudy
8767            Snow Showers
8768            Snow Showers
8769                    Snow
8770                Snow,Fog
8771                    Snow
8772                    Snow
8773                    Snow
8774                    Snow
8775                    Snow
8776                    Snow
8777                    Snow
8778                    Snow
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8095, dtype: object

In [66]:
# types of Weather that do not contain the word Rain
weather['Weather'][~weather['Weather'].str.contains('Rain')].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy',
       'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Drizzle', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Snow,Blowing Snow', 'Freezing Fog', 'Haze', 'Drizzle,Fog',
       'Drizzle', 'Freezing Drizzle,Haze', 'Snow,Haze', 'Snow,Fog',
       'Snow,Ice Pellets', 'Thunderstorms', 'Snow Pellets',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Drizzle,Snow,Fog',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [67]:
# Find rows where temperature is more than 10 deg C and Weather is either Cloudy or Clear
weather[(weather["Temp (C)"] > 10.0) & (weather["Weather"].isin(["Cloudy", "Clear"]))]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
1615,2012-03-08 07:00:00,10.3,0.8,52,26,48.3,100.47,Cloudy
1617,2012-03-08 09:00:00,10.2,1.6,55,26,48.3,100.29,Cloudy
1618,2012-03-08 10:00:00,12.1,2.9,53,30,24.1,100.22,Cloudy
1619,2012-03-08 11:00:00,12.7,3.8,55,26,24.1,100.13,Cloudy
1621,2012-03-08 13:00:00,11.5,5.2,65,20,24.1,99.99,Cloudy
1622,2012-03-08 14:00:00,11.7,5.9,68,26,24.1,99.88,Cloudy
1695,2012-03-11 15:00:00,10.5,-1.3,44,20,48.3,101.69,Clear
1696,2012-03-11 16:00:00,10.9,-0.7,45,15,48.3,101.65,Clear
1697,2012-03-11 17:00:00,10.7,-0.6,45,11,48.3,101.65,Clear
1715,2012-03-12 11:00:00,10.6,0.3,49,6,24.1,101.99,Cloudy
1719,2012-03-12 15:00:00,12.4,0.6,44,4,48.3,101.71,Cloudy
1720,2012-03-12 16:00:00,11.8,1.2,48,4,25.0,101.64,Cloudy
1721,2012-03-12 17:00:00,11.6,1.0,48,6,24.1,101.57,Cloudy
1839,2012-03-17 15:00:00,10.2,4.4,67,6,24.1,102.07,Cloudy
1840,2012-03-17 16:00:00,10.5,4.1,65,7,48.3,102.02,Cloudy
1841,2012-03-17 17:00:00,10.1,4.7,69,9,48.3,101.97,Cloudy
1842,2012-03-17 18:00:00,10.1,5.4,73,7,48.3,101.95,Cloudy
1859,2012-03-18 11:00:00,14.1,7.6,65,13,48.3,101.71,Clear
1860,2012-03-18 12:00:00,17.3,8.7,57,11,48.3,101.63,Clear
1868,2012-03-18 20:00:00,12.8,8.6,76,7,25.0,101.34,Clear
1873,2012-03-19 01:00:00,10.8,8.5,86,6,25.0,101.39,Clear
1874,2012-03-19 02:00:00,10.6,8.6,87,4,25.0,101.42,Clear
1875,2012-03-19 03:00:00,10.2,8.3,88,11,25.0,101.42,Clear
1876,2012-03-19 04:00:00,11.2,9.0,86,6,25.0,101.49,Clear
1907,2012-03-20 11:00:00,14.9,4.0,48,6,24.1,102.02,Clear
1908,2012-03-20 12:00:00,16.5,6.7,52,9,24.1,101.98,Clear
1909,2012-03-20 13:00:00,20.0,10.8,55,13,24.1,101.93,Clear
1910,2012-03-20 14:00:00,21.5,11.8,54,11,24.1,101.83,Clear
1911,2012-03-20 15:00:00,22.5,12.3,52,9,24.1,101.78,Clear
1912,2012-03-20 16:00:00,23.3,12.1,49,7,24.1,101.73,Clear
...,...,...,...,...,...,...,...,...
7260,2012-10-29 12:00:00,15.4,9.8,69,26,24.1,100.35,Cloudy
7261,2012-10-29 13:00:00,16.5,9.7,64,33,24.1,100.24,Cloudy
7262,2012-10-29 14:00:00,16.6,9.9,65,44,24.1,100.13,Cloudy
7263,2012-10-29 15:00:00,16.6,9.6,63,33,24.1,100.09,Cloudy
7264,2012-10-29 16:00:00,15.2,9.8,70,48,24.1,100.04,Cloudy
7265,2012-10-29 17:00:00,14.2,9.4,73,48,24.1,99.94,Cloudy
7268,2012-10-29 20:00:00,14.3,9.7,74,52,25.0,99.55,Cloudy
7270,2012-10-29 22:00:00,14.2,9.8,75,50,25.0,99.37,Cloudy
7271,2012-10-29 23:00:00,14.1,10.0,76,54,25.0,99.33,Cloudy
7272,2012-10-30 00:00:00,14.6,10.2,75,41,25.0,99.28,Cloudy
7294,2012-10-30 22:00:00,15.0,13.9,93,17,25.0,99.49,Cloudy
7305,2012-10-31 09:00:00,14.6,12.7,88,15,19.3,99.16,Cloudy
7306,2012-10-31 10:00:00,14.6,12.9,90,19,16.1,99.14,Cloudy
7308,2012-10-31 12:00:00,10.8,9.4,91,24,24.1,99.20,Cloudy
7312,2012-10-31 16:00:00,10.2,8.6,90,4,24.1,99.26,Cloudy
7598,2012-11-12 14:00:00,16.3,8.2,59,22,24.1,101.43,Cloudy
7599,2012-11-12 15:00:00,17.0,8.4,57,20,24.1,101.33,Cloudy
7600,2012-11-12 16:00:00,16.7,8.0,56,22,24.1,101.21,Cloudy
7605,2012-11-12 21:00:00,15.9,7.7,58,30,25.0,100.90,Cloudy
7606,2012-11-12 22:00:00,16.0,8.2,60,26,25.0,100.87,Cloudy
7607,2012-11-12 23:00:00,15.6,8.9,64,24,25.0,100.84,Cloudy
7861,2012-11-23 13:00:00,10.9,1.3,51,24,48.3,99.80,Cloudy
7862,2012-11-23 14:00:00,10.4,1.5,54,24,48.3,99.71,Cloudy
8123,2012-12-04 11:00:00,10.1,7.7,85,17,24.1,101.06,Cloudy
8125,2012-12-04 13:00:00,11.9,8.4,79,17,24.1,100.84,Cloudy
8126,2012-12-04 14:00:00,11.3,8.1,81,24,24.1,100.74,Cloudy
8127,2012-12-04 15:00:00,11.0,7.9,81,24,24.1,100.66,Cloudy
8128,2012-12-04 16:00:00,10.7,7.9,83,24,19.3,100.64,Cloudy
8129,2012-12-04 17:00:00,10.8,8.1,83,30,25.0,100.55,Cloudy
8130,2012-12-04 18:00:00,10.7,8.2,85,32,25.0,100.50,Cloudy

## Grouping

In [70]:
weather_group = weather.groupby('Weather', as_index = False)['Dew Point Temp (C)'].count()
weather_group

                                    Weather  Dew Point Temp (C)
0                                     Clear                1326
1                                    Cloudy                1728
2                                   Drizzle                  41
3                               Drizzle,Fog                  80
4                   Drizzle,Ice Pellets,Fog                   1
5                              Drizzle,Snow                   2
6                          Drizzle,Snow,Fog                  15
7                                       Fog                 150
8                          Freezing Drizzle                   7
9                      Freezing Drizzle,Fog                   6
10                    Freezing Drizzle,Haze                   3
11                    Freezing Drizzle,Snow                  11
12                             Freezing Fog                   4
13                            Freezing Rain                  14
14                        Freezing Rain,Fog                   4
15                       Freezing Rain,Haze                   2
16            Freezing Rain,Ice Pellets,Fog                   1
17                Freezing Rain,Snow Grains                   1
18                                     Haze                  16
19                             Mainly Clear                2106
20                        Moderate Rain,Fog                   1
21                            Moderate Snow                   4
22               Moderate Snow,Blowing Snow                   2
23                            Mostly Cloudy                2069
24                                     Rain                 306
25                             Rain Showers                 188
26                         Rain Showers,Fog                   1
27                Rain Showers,Snow Showers                   2
28                                 Rain,Fog                 116
29                                Rain,Haze                   3
30                         Rain,Ice Pellets                   1
31                                Rain,Snow                  18
32                         Rain,Snow Grains                   1
33                            Rain,Snow,Fog                   1
34                    Rain,Snow,Ice Pellets                   4
35                                     Snow                 390
36                             Snow Pellets                   1
37                             Snow Showers                  60
38                         Snow Showers,Fog                   4
39                        Snow,Blowing Snow                  19
40                                 Snow,Fog                  37
41                                Snow,Haze                   5
42                         Snow,Ice Pellets                   6
43                            Thunderstorms                   2
44         Thunderstorms,Heavy Rain Showers                   1
45  Thunderstorms,Moderate Rain Showers,Fog                   1
46                       Thunderstorms,Rain                   3
47               Thunderstorms,Rain Showers                  16
48           Thunderstorms,Rain Showers,Fog                   3
49                   Thunderstorms,Rain,Fog                   1

In [71]:
import sqlite3
db_conn = sqlite3.connect('workshop_db.sqlite')
df.to_sql('weather', db_conn, if_exists = 'replace', index = False)

In [73]:
df_table = pd.read_sql("select * from weather", db_conn)
df_table.head()

  column1   column2 column3  some_random_numbers  Location
0   Allen  Varghese    Male                 4200    Dublin
1   Kevin   O'Brien    Male                 2750  Limerick
2   Mihai     Todor    Male                 3820    Dublin